<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="external-configuration-xml" value="testSource.xml"/>
    <add key="external-configuration-json" value ="testSource.json"/>
    <add key="xml-config" value="testSource.xml"/>
    <add key="json-config" value ="testSource.json"/>
  </appSettings>
</configuration>